{
    "plugins": [
        [
            "transform-runtime",
            {
                "polyfill": false
            }
        ]
    ],
    "presets": [
        "react",
        [
            "babel-preset-env",
            {
                "modules": false
            }
        ],
    ]
}